@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 220px;
        }
        &__official {
            margin-top: 30px;
        }
        &__contacts {
            margin-top: 10px;
        }
    }
    .promo {
        padding-bottom: 0;
        min-height: 540px;
        &__header {
            font-size: 20px;
        }
        &__wrapper {
            text-align: center;
            align-items: center;
            margin-top: 20px;
        }
        &__icons {
            width: 310px;
            margin-top: 30px;
           
        }
        &__icon {
            font-size: 12px;
        }
        &__subheader {
            display: none;
        }
        .header__contacts {
            .button {
                display: none;
            }
        }

    }
    .advantages {
        &__icons {
            flex-direction: column;
            align-items: center;
            img {
                margin: 30px auto 22px auto;
            }
        }
    }
    .consultation {
        min-height: 455px;
        padding: 30px;
        .title__left {
            font-size: 20px;
            text-align: center;
        }
        &__discr {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;

        }

        .feed-form {
            margin: 10px auto;
            width: 250px;
        }
    }

    .carousel {
        display: none;
        &__inner {
            width: 575px;
            img {
                display: block;
                width: 300px;
                margin: 0 auto;
            }
        }
       
    }
}

